<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="logo-koostoo" style="display: flex; justify-content: center;">
        <img style="position: relative;
    top: 11px;
    width: 160px;
    margin: 14px;" src="img/koostoo-logo.svg" alt="">
    </div>

    <div class="container register">
        <form action="/registerDesa" method="post" enctype="multipart/form-data" id="register-desa" class="col-6">
            <h2 id="register">Register Desa</h2>

            <div class="email">
                <label for="email">Email</label><br>
                <input class="input-register" placeholder="Masukan Email..." type="email" name="email" id="">
            </div>

            <div class="password">
                <label for="password">Password</label><br>
                <input class="input-register" placeholder="Masukan Password..." type="password" name="password" id="">
            </div>

            <div class="nama-akun">
                <label for="nama">Nama Desa</label> <br>
                <input class="input-register" placeholder="Masukan Nama akun..." type="text" name="nama" id="">

            </div>

            <div class="deskripsi-desa">
                <label for="description">Deskripsi Desa</label> <br>
                <textarea class="input-register" placeholder="Masukan Deskripsi Singkat..." name="description" id="" cols="30" rows="10"></textarea>

            </div>

            <div class="lokasi-desa">
                <label for="location">Lokasi Desa</label>
                <input class="input-register" placeholder="Masukan Lokasi..." type="text" name="location" id="">
            </div>


            <div class="input-portofolio">
                <label for="portofolio">Portofolio</label>
                <input type="file" name="portofolio" id="portofolio">
            </div>

            <div class="input-foto-desa">
                <label for="photo">Foto</label>
                <input type="file" name="photo" id="photo">
            </div>

            <div class="keahlian">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="cat1" id="" value="pertanian">
                    <label for="cat1">Pertanian</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="cat2" id="" value="peternakan">
                    <label for="cat2">Peternakan</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="cat3" id="" value="kerajinan">
                    <label for="cat3">Kerajinan</label>
                </div>
            </div>
            <input class="btn register" type="submit" value="Register Desa">
        </form>

        <form action="/registerInvestor" method="post" enctype="multipart/form-data" id="register-investor" class="col-6">

            <h2 id="register">Register Investor</h2>

            <div class="email">
                <label for="email">Email</label><br>
                <input class="input-register" placeholder="Masukan Email..." type="email" name="email" id="">
            </div>

            <div class="password">
                <label for="password">Password</label><br>
                <input class="input-register" placeholder="Masukan Password..." type="password" name="password" id="">

            </div>

            <div class="nama-perusahaan">
                <label for="nama">Nama Perusahaan</label>
                <input class="input-register" placeholder="Masukan Nama Perusahaan..." type="text" name="nama" id="">

            </div>

            <div class="lokasi">
                <label for="location">Lokasi Perusahaan</label>
                <input class="input-register" placeholder="Masukan Lokasi Perusahaan..." type="text" name="location" id="">
            </div>

            <div class="descripsi">
                <label for="description">Deskripsi Perusahaan</label>
                <input class="input-register" placeholder="Masukan Deskripsi Singkat Perusahaan" type="text" name="description" id="">
            </div>

            <div class="input-foto">
                <label for="photo">Foto Perusahaan</label>
                <input type="file" name="photo" id="">
            </div>

            <input class="btn register" type="submit" value="Register Investor">
        </form>

    </div>


</body>

<style>
    form input {
        display: block;
    }
</style>

</html>