<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form action="/registerDesa" method="post" enctype="multipart/form-data">
        <input placeholder="Masukan Email..." type="email" name="email" id="">
        <input placeholder="Masukan Password..." type="password" name="password" id="">
        <input placeholder="Masukan Nama akun..." type="text" name="nama" id="">
        <textarea placeholder="Masukan Deskripsi Singkat..." name="description" id="" cols="30" rows="10"></textarea>
        <input placeholder="Masukan Lokasi..." type="text" name="location" id="">

        <label for="portofolio">Portofolio</label>
        <input type="file" name="portofolio" id="portofolio">

        <label for="photo">Foto</label>
        <input type="file" name="photo" id="photo">

        <input type="checkbox" name="cat1" id="" value="pertanian">
        <label for="cat1">Pertanian</label>

        <input type="checkbox" name="cat2" id="" value="peternakan">
        <label for="cat2">Peternakan</label>

        <input type="checkbox" name="cat3" id="" value="kerajinan">
        <label for="cat3">Kerajinan</label>
        <input type="submit" value="Register Desa">
    </form>

    <form action="/registerInvestor" method="post" enctype="multipart/form-data">
        <input placeholder="Masukan Email..." type="email" name="email" id="">
        <input placeholder="Masukan Password..." type="password" name="password" id="">
        <input placeholder="Masukan Nama Perusahaan..." type="text" name="nama" id="">
        <input placeholder="Masukan Lokasi Perusahaan..." type="text" name="location" id="">
        <input placeholder="Masukan Deskripsi Singkat Perusahaan" type="text" name="description" id="">
        <input type="file" name="photo" id="">
        <input type="submit" value="Register Investor">
    </form>
</body>

<style>
    form input {
        display: block;
    }
</style>

</html>