<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/sideInvestor.css">
    <link rel="stylesheet" href="css/dashboard.css">
</head>

<body>
 <img style="position: fixed;
    top: 11px;
    width: 160px;
    margin: 14px;" src="img/koostoo-logo.svg" alt="">
    <nav>
        <div>
            <img width="280px" src="img/profileInvestor.png" alt="">
        </div>

        <br>
        <div class="profil">
            <p class="nama-desa">PT. Maju Makmur</p>
            <p class="lokasi-desa">Wonogiri, Jawa Tengah</p>
            <hr>
        </div>


        <div class="sub-menu">
            <a href="">Proyek</a>
            <a href="">Profil Investor</a>
            <a href="/search">Jelajah Target Investasi</a>
        </div>


    </nav>

</body>

</html>