.content {
    margin-left: 280px;
}

.box-desa {
    width: 700px;
    height: 112px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    padding: 20px;
    margin-left: 40px;
    margin-top: -160px;
    background: white;
    display: flex;
    align-items: center;
}

.foto-sampul {
    width: 100%;
    height: 320px;
}

.ajak-kerjasama {
    background: #3B8C91;
    border-radius: 24px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 14px;
    border: none;
    margin-left: 240px;
}

.deskripsi-desa {
    margin-bottom: -10px;
}

.box-nama-desa {
    color: #394A6D;
    font-size: 24px;
}

.box-lokasi-desa {
    margin-top: -10px;
    color: #394A6D;
    font-size: 16px;
}

.penjelasan-singkat {
    margin-top: 40px;
    margin-left: 40px;
}

.judul {
    font-weight: bold;
    font-size: 20px;
}

.button-desa {
    position: fixed;
    right: 84px;
    bottom: 74px;
}

.button-desa a {
    margin: 12px;
}

.hubungi-desa {
    background: white;
    padding: 10px 20px;
    border-radius: 12px;
    color: #3B8C91;
    font-size: 18px;
    border: none;
    letter-spacing: 0.045em;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    text-decoration: none;
    border: none;
}

.portofolio-desa {
    text-decoration: none;
    background: #3B8C91;
    padding: 10px 20px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    border: none;
    letter-spacing: 0.045em;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    border: none;
}